In [110]:
"""
Imputing missing values.

In the real world, you will often need to handle missing values. One way to impute (i.e., fill) the numerical column is to replace the null values with its mean.

Task :
Given a list of numbers including some missing values, turn it into a pandas series, impute the missing values with the mean, and finally return the series.

Input Format :
A list of numbers including one or more string "nan" to indicate a missing value.

Output Format :
A list of imputed values where all values are rounded to its first decimal place.

Sample Input :
3 4 5 3 4 4 nan

Sample Output
0 3.0
1 4.0
2 5.0
3 3.0
4 4.0
5 4.0
6 3.8
dtype: float64

Explanation:
The mean of 3, 4, 5, 3, 4, and 4 is 3.8, so we replace the missing value with the mean.
"""

'\nImputing missing values.\n\nIn the real world, you will often need to handle missing values. One way to impute (i.e., fill) the numerical column is to replace the null values with its mean.\n\nTask :\nGiven a list of numbers including some missing values, turn it into a pandas series, impute the missing values with the mean, and finally return the series.\n\nInput Format :\nA list of numbers including one or more string "nan" to indicate a missing value.\n\nOutput Format :\nA list of imputed values where all values are rounded to its first decimal place.\n\nSample Input :\n3 4 5 3 4 4 nan\n\nSample Output\n0 3.0\n1 4.0\n2 5.0\n3 3.0\n4 4.0\n5 4.0\n6 3.8\ndtype: float64\n\nExplanation:\nThe mean of 3, 4, 5, 3, 4, and 4 is 3.8, so we replace the missing value with the mean.\n'

In [111]:
import numpy as np

#if the user is gonna enter the input then uncomment this line :
#lst = [float(x) if x != 'nan' else np.NaN for x in input().split()]
#otherwise use these static values :
input_string = "3 4 5 3 4 4 nan"
lst = [float(x) if x != 'nan' else np.NaN for x in input_string.split(" ")]

In [112]:
#The solution starts from here :
import pandas as pd

print(lst)

[3.0, 4.0, 5.0, 3.0, 4.0, 4.0, nan]

In [113]:
series = pd.Series(np.array(lst))
series

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    NaN
dtype: float64

In [114]:
series.mean()

3.8333333333333335

In [115]:
series = series.apply(lambda x : series.mean() if x==np.nan else x)#did not work
series
#The equality comparison x == np.nan will always return False because NaN values are not equal to any other value, 
# including other NaN values. 
# Therefore, the lambda function inside the apply method won't be able to identify the NaN values correctly.

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    NaN
dtype: float64

In [116]:
df = pd.DataFrame(lst)
df

     0
0  3.0
1  4.0
2  5.0
3  3.0
4  4.0
5  4.0
6  NaN

In [117]:
print(df[0].mean())

3.8333333333333335

In [118]:
#checks the null values for a dataFrame #1
missing_values = df.isnull()
missing_counts = missing_values.sum()
print(missing_values)
print("/|\\"*50)
print(missing_counts)

       0
0  False
1  False
2  False
3  False
4  False
5  False
6   True
/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\
0    1
dtype: int64

In [119]:
#checks the null values for a dataFrame #2
missing_values = df.isna()
missing_counts = missing_values.sum()
print(missing_values)
print("/|\\"*50)
print(missing_counts)

       0
0  False
1  False
2  False
3  False
4  False
5  False
6   True
/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\
0    1
dtype: int64

In [120]:
#checks the null values for a dataFrame #3
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      float64
dtypes: float64(1)
memory usage: 184.0 bytes

In [121]:
#this will solve the issue using Dataframe
df[0].fillna(value=round(df[0].mean(),1), inplace=True)
df

     0
0  3.0
1  4.0
2  5.0
3  3.0
4  4.0
5  4.0
6  3.8

In [122]:
df.describe()

              0
count  7.000000
mean   3.828571
std    0.687300
min    3.000000
25%    3.400000
50%    4.000000
75%    4.000000
max    5.000000

In [123]:
#checks the null values for a dataFrame #1
missing_values = df.isnull()
missing_counts = missing_values.sum()
print(missing_values)
print("/|\\"*50)
print(missing_counts)

       0
0  False
1  False
2  False
3  False
4  False
5  False
6  False
/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\
0    0
dtype: int64

In [124]:
#checks the null values for a dataFrame #2
missing_values = df.isna()
missing_counts = missing_values.sum()
print(missing_values)
print("/|\\"*50)
print(missing_counts)

       0
0  False
1  False
2  False
3  False
4  False
5  False
6  False
/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\/|\
0    0
dtype: int64

In [125]:
#checks the null values for a dataFrame #3
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7 non-null      float64
dtypes: float64(1)
memory usage: 184.0 bytes

In [126]:
print(np.array(lst))

[ 3.  4.  5.  3.  4.  4. nan]

In [127]:
print(df[0])

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    3.8
Name: 0, dtype: float64

In [128]:
#Another solution is to skip useing a dataframe , a series is enough
input_string = "nan 3 4 5 3 4 4 nan"
lst = [float(x) if x != 'nan' else np.NaN for x in input_string.split(" ")]

series = pd.Series(lst)
series.fillna(value=round(series.mean(),1), inplace=True)

print(series)

0    3.8
1    3.0
2    4.0
3    5.0
4    3.0
5    4.0
6    4.0
7    3.8
dtype: float64

In [129]:
input_string = "nan 3 4 5 nan 3 4 4 nan"
lst = [float(x) if x != 'nan' else np.NaN for x in input_string.split(" ")]

#series solution in one line only :
series = pd.Series(lst).fillna(value=round(pd.Series(lst).mean(),1), inplace=False)

print(series)

0    3.8
1    3.0
2    4.0
3    5.0
4    3.8
5    3.0
6    4.0
7    4.0
8    3.8
dtype: float64