In [20]:
import numpy as np

lst = [float(x) if x != 'nan' else np.NaN for x in input().split()]

In [32]:
import pandas as pd

print(lst)

[3.0, 4.0, 5.0, 3.0, 4.0, 4.0, nan, nan]

In [33]:
"""
Input Format
A list of numbers including one or more string "nan" to indicate a missing value.

Output Format
A list of imputed values where all values are rounded to its first decimal place.

Sample Input
3 4 5 3 4 4 nan nan

Sample Output
0 3.0
1 4.0
2 5.0
3 3.0
4 4.0
5 4.0
6 3.8
dtype: float64
"""

'\nInput Format\nA list of numbers including one or more string "nan" to indicate a missing value.\n\nOutput Format\nA list of imputed values where all values are rounded to its first decimal place.\n\nSample Input\n3 4 5 3 4 4 nan nan\n\nSample Output\n0 3.0\n1 4.0\n2 5.0\n3 3.0\n4 4.0\n5 4.0\n6 3.8\ndtype: float64\n'

In [34]:
series = pd.Series(np.array(lst))
series

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    NaN
7    NaN
dtype: float64

In [35]:
series.mean()

3.8333333333333335

In [36]:
series = series.apply(lambda x : series.mean() if x==np.nan else x )
series

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    NaN
7    NaN
dtype: float64

In [37]:
df = pd.DataFrame(lst)
df

     0
0  3.0
1  4.0
2  5.0
3  3.0
4  4.0
5  4.0
6  NaN
7  NaN

In [38]:
print(df[0].mean())

3.8333333333333335

In [39]:
df[0].fillna(value=round(df[0].mean(),1), inplace=True)
df

     0
0  3.0
1  4.0
2  5.0
3  3.0
4  4.0
5  4.0
6  3.8
7  3.8

In [40]:
df.describe

<bound method NDFrame.describe of      0
0  3.0
1  4.0
2  5.0
3  3.0
4  4.0
5  4.0
6  3.8
7  3.8>

In [41]:
print(np.array(lst))

[ 3.  4.  5.  3.  4.  4. nan nan]

In [42]:
print(df[0])

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    3.8
7    3.8
Name: 0, dtype: float64

In [43]:
series = pd.Series(lst)
series.fillna(value=round(series.mean(),1), inplace=True)
print(series)

0    3.0
1    4.0
2    5.0
3    3.0
4    4.0
5    4.0
6    3.8
7    3.8
dtype: float64

In [44]:
series = pd.Series(lst).fillna(value=round(series.mean(),1), inplace=True)

print(series)

None