In [86]:
from sklearn.datasets import load_boston
from sklearn.datasets import fetch_california_housing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

california_housing_dataset = fetch_california_housing()

## build a DataFrame
california_housing = pd.DataFrame(california_housing_dataset.data, columns=california_housing_dataset.feature_names)

#We then add the target into the DataFrame
california_housing['MEDV'] = california_housing_dataset.target

In [87]:
california_housing_dataset = fetch_california_housing()

## build a DataFrame
california_housing = pd.DataFrame(california_housing_dataset.data, columns=california_housing_dataset.feature_names)

#We then add the target into the DataFrame
california_housing['MEDV'] = california_housing_dataset.target
corr_matrix = california_housing.corr().round(2)
corr_matrix

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MEDV
MedInc,1.00,-0.12,0.33,-0.06,0.00,0.02,-0.08,-0.02,0.69
HouseAge,-0.12,1.00,-0.15,-0.08,-0.30,0.01,0.01,-0.11,0.11
AveRooms,0.33,-0.15,1.00,0.85,-0.07,-0.00,0.11,-0.03,0.15
AveBedrms,-0.06,-0.08,0.85,1.00,-0.07,-0.01,0.07,0.01,-0.05
Population,0.00,-0.30,-0.07,-0.07,1.00,0.07,-0.11,0.10,-0.02
AveOccup,0.02,0.01,-0.00,-0.01,0.07,1.00,0.00,0.00,-0.02
Latitude,-0.08,0.01,0.11,0.07,-0.11,0.00,1.00,-0.92,-0.14
Longitude,-0.02,-0.11,-0.03,0.01,0.10,0.00,-0.92,1.00,-0.05
MEDV,0.69,0.11,0.15,-0.05,-0.02,-0.02,-0.14,-0.05,1.00

In [88]:
"""
Recall Latitude is most negatively correlated to the home price. 
We can add the feature and build a multivariate linear regression model where the home price depends on both MedInc and AveBedrms linearly:

MEDV = b0 + b1 * MedInc + b2 * Latitude
To find intercept b0, and coefficients b1 and b2, all steps are the same except for the data preparation part, 
we are now dealing with two features:
"""

'\nRecall Latitude is most negatively correlated to the home price. \nWe can add the feature and build a multivariate linear regression model where the home price depends on both MedInc and AveBedrms linearly:\n\nMEDV = b0 + b1 * MedInc + b2 * Latitude\nTo find intercept b0, and coefficients b1 and b2, all steps are the same except for the data preparation part, \nwe are now dealing with two features:\n'

In [89]:
#zaman :

model = LinearRegression()
california_housing_dataset = fetch_california_housing()

## build a DataFrame
california_housing = pd.DataFrame(california_housing_dataset.data, columns=california_housing_dataset.feature_names)

#We then add the target into the DataFrame
california_housing['MEDV'] = california_housing_dataset.target

X = california_housing[['MedInc']].values

Y = california_housing['MEDV'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=101)

model.fit(X_train, Y_train)

y_test_predicted = model.predict(X_test)

In [90]:
#What's new :

## data preparation
X2 = california_housing[['MedInc', 'Latitude']].values
Y = california_housing['MEDV'].values
## train test split
## same random_state to ensure the same splits
X2_train, X2_test, Y_train, Y_test = train_test_split(X2, Y, 
                                                    test_size = 0.3, 
                                                    random_state=101)
model2 = LinearRegression()
print(model2.fit(X2_train, Y_train))

LinearRegression()

In [91]:
print(model2.intercept_.round(3))
print(model2.coef_.round(3))

#Note the coefficients are stored in a 1darray of shape (2,). The second model then is

#MEDV = 0.441 + 0.423 * MedInc + (-0.001) * AveBedrms.

2.179
[ 0.416 -0.048]

In [92]:
"""
The extension from univariate to multivariate linear regression is straightforward in scikit-learn. 
The model instantiation, fitting, and predictions are identical, the only difference being the data preparation.
"""

'\nThe extension from univariate to multivariate linear regression is straightforward in scikit-learn. \nThe model instantiation, fitting, and predictions are identical, the only difference being the data preparation.\n'

In [93]:
y_test_predicted2 = model2.predict(X2_test)
print(y_test_predicted2)

[2.69160232 5.40130261 1.54505185 ... 1.71368874 0.90058514 1.71287913]

In [94]:
print(
model.score(X_test,Y_test).round(3),#univariate 
model2.score(X2_test,Y_test).round(3)#multivariate 
)


"""
The extension from univariate to multivariate linear regression is straightforward in scikit-learn. 

The model instantiation, fitting, and predictions are identical, the only difference being the data preparation.
"""

0.468 0.476

'\nThe extension from univariate to multivariate linear regression is straightforward in scikit-learn. \n\nThe model instantiation, fitting, and predictions are identical, the only difference being the data preparation.\n'

In [95]:
"""
Which model is better? 
An easy metric for linear regression is the mean squared error (MSE) on the testing data. 
Better models have lower MSEs.
"""

print(mean_squared_error(Y_test, y_test_predicted).round(3))
print(mean_squared_error(Y_test, y_test_predicted2).round(3))

0.72
0.709

In [96]:
"""
The secod model has a lower MSE, 
thus it does a better job predicting the median home values than the univariate model

In general, the more features the model includes the lower the MSE would be.

Yet be careful about including too many features. Some features could be random noise, 
thus hurt the interpretability of the model.
"""

'\nThe secod model has a lower MSE, \nthus it does a better job predicting the median home values than the univariate model\n\nIn general, the more features the model includes the lower the MSE would be.\n\nYet be careful about including too many features. Some features could be random noise, \nthus hurt the interpretability of the model.\n'

In [97]:
boston_dataset = load_boston()

c:\Users\essam\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [98]:
#now the boston data :
# now let's try to use the boston dataset with the same procedure :
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
boston = pd.DataFrame(data,columns=boston_dataset.feature_names)
boston['MEDV'] = target
boston.describe(include = 'all').round(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,3.61,11.36,11.14,0.07,0.55,6.28,68.57,3.80,9.55,408.24,18.46,356.67,12.65,22.53
std,8.60,23.32,6.86,0.25,0.12,0.70,28.15,2.11,8.71,168.54,2.16,91.29,7.14,9.20
min,0.01,0.00,0.46,0.00,0.38,3.56,2.90,1.13,1.00,187.00,12.60,0.32,1.73,5.00
25%,0.08,0.00,5.19,0.00,0.45,5.89,45.02,2.10,4.00,279.00,17.40,375.38,6.95,17.02
50%,0.26,0.00,9.69,0.00,0.54,6.21,77.50,3.21,5.00,330.00,19.05,391.44,11.36,21.20
75%,3.68,12.50,18.10,0.00,0.62,6.62,94.07,5.19,24.00,666.00,20.20,396.22,16.96,25.00
max,88.98,100.00,27.74,1.00,0.87,8.78,100.00,12.13,24.00,711.00,22.00,396.90,37.97,50.00

In [99]:
#zaman :
X = boston[['RM']].values
Y = boston['MEDV'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                    test_size = 0.3, 
                                                    random_state=1)
model = LinearRegression()
model.fit(X_train, Y_train)
y_test_predicted = model.predict(X_test)

In [100]:
corr_matrix = boston.corr().round(2)
corr_matrix

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.00,-0.20,0.41,-0.06,0.42,-0.22,0.35,-0.38,0.63,0.58,0.29,-0.39,0.46,-0.39
ZN,-0.20,1.00,-0.53,-0.04,-0.52,0.31,-0.57,0.66,-0.31,-0.31,-0.39,0.18,-0.41,0.36
INDUS,0.41,-0.53,1.00,0.06,0.76,-0.39,0.64,-0.71,0.60,0.72,0.38,-0.36,0.60,-0.48
CHAS,-0.06,-0.04,0.06,1.00,0.09,0.09,0.09,-0.10,-0.01,-0.04,-0.12,0.05,-0.05,0.18
NOX,0.42,-0.52,0.76,0.09,1.00,-0.30,0.73,-0.77,0.61,0.67,0.19,-0.38,0.59,-0.43
RM,-0.22,0.31,-0.39,0.09,-0.30,1.00,-0.24,0.21,-0.21,-0.29,-0.36,0.13,-0.61,0.70
AGE,0.35,-0.57,0.64,0.09,0.73,-0.24,1.00,-0.75,0.46,0.51,0.26,-0.27,0.60,-0.38
DIS,-0.38,0.66,-0.71,-0.10,-0.77,0.21,-0.75,1.00,-0.49,-0.53,-0.23,0.29,-0.50,0.25
RAD,0.63,-0.31,0.60,-0.01,0.61,-0.21,0.46,-0.49,1.00,0.91,0.46,-0.44,0.49,-0.38
TAX,0.58,-0.31,0.72,-0.04,0.67,-0.29,0.51,-0.53,0.91,1.00,0.46,-0.44,0.54,-0.47
PTRATIO,0.29,-0.39,0.38,-0.12,0.19,-0.36,0.26,-0.23,0.46,0.46,1.00,-0.18,0.37,-0.51
B,-0.39,0.18,-0.36,0.05,-0.38,0.13,-0.27,0.29,-0.44,-0.44,-0.18,1.00,-0.37,0.33
LSTAT,0.46,-0.41,0.60,-0.05,0.59,-0.61,0.60,-0.50,0.49,0.54,0.37,-0.37,1.00,-0.74
MEDV,-0.39,0.36,-0.48,0.18,-0.43,0.70,-0.38,0.25,-0.38,-0.47,-0.51,0.33,-0.74,1.00

In [101]:
#now :
## data preparation
X2 = boston[['RM', 'LSTAT']].values
Y = boston['MEDV'].values
## train test split
## same random_state to ensure the same splits
X2_train, X2_test, Y_train, Y_test = train_test_split(X2, Y, 
                                                    test_size = 0.3, 
                                                    random_state=1)
model2 = LinearRegression()
model2.fit(X2_train, Y_train)
y_test_predicted2 = model2.predict(X2_test)

In [102]:
print(
model.score(X_test,Y_test).round(3),#univariate 
model2.score(X2_test,Y_test).round(3)#multivariate 
)

0.602 0.684

In [103]:
print(mean_squared_error(Y_test, y_test_predicted).round(2))
print(mean_squared_error(Y_test, y_test_predicted2).round(2))

36.52
28.93

In [104]:
"""
The second model has a lower MSE, 
specifically a 21% reduction (36.52-28.93)/36.52 = 21%); 
thus it does a better job predicting the median home values than the univariate model.
"""

'\nThe second model has a lower MSE, \nspecifically a 21% reduction (36.52-28.93)/36.52 = 21%); \nthus it does a better job predicting the median home values than the univariate model.\n'